
.invalid{
  border: 1px solid red;
}

.ant-spin-dot-item {
  background-color: red;
  size: "large";
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
   border-top: 1px solid black
}

.login{
  display: none;
}
